body {
    background: #0f172a;
    color: white;
    font-family: Arial;
}

.container {
    width: 400px;
    margin: 120px auto;
    background: #1e293b;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    background: #22c55e;
    border: none;
    cursor: pointer;
}
